# plugin folders
plugged/

# temp folders
_swap/*
!_swap/README.MD
_undo/*
!_undo/README.MD
_backup/*
!_backup/README.MD

# nerdtree temp files
.netrwhist

# tmux logs
tmux-client-*.log
tmux-server-*.log

#old files
autoload/plug.vim.old
